/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --c-twitch: #6441a5;
  --c-outline: black;
  --c-text: white;
  --c-back: rgba(0,0,0,.15); 
  --c-odd: rgba(0,0,0,.15);
  --c-even: rgba(255,255,255,.15);
  --c-odd-text: var(--c-text);
  --c-even-text: var(--c-twitch);
  --f-backdrop: blur(8px);
  --outline:
    1px -1px 1px var(--c-outline),
   -1px  1px 1px var(--c-outline),
   -1px -1px 1px var(--c-outline),
    1px  1px 1px var(--c-outline),
    2px  3px 1px var(--c-outline);
}

:root.clipless {
  --c-back: rgba(0,0,0,.33);
  --c-odd: rgba(0,0,0,.33);
  --c-even: rgba(96, 96, 96,.33);
  --f-backdrop: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

p, span {
  text-shadow: var(--outline);
}

.header,
.list_title,
.closure {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin: 50vh 0;
  font-size: 5em;
  font-weight: bold;
  color: blue;
  padding-top: 100px;
  justify-content: center;
}

.list_title {
  text-shadow: var(--outline);
}

.header {
  margin-top: 100vh;
}

@keyframes rainbow {
  from {
    filter: hue-rotate(0deg) brightness(150%);
  }
  to {
    filter: hue-rotate(360deg) brightness(100%);
  }
}

.rainbow {
  color: hsl(0deg, 69%, 69%);
  animation-name: rainbow 7s infinite alternate;
}

.grad-text {
  background: rgb(131,58,180);
  background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  /* background: linear-gradient(#eee, #333); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Rest of the styles*/
.header {
  font-size: 5em;
  font-weight: bold;
  color: blue;
}

.amount {
  font-family: 'Source Code Pro';
  font-size: 1.25em;
  min-width: 12ch;
  text-align: right;
  text-align: center;
}

.animation_wrapper{
  position: relative;
}

.saiyan::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

.saiyan.tier3::after {
  background-image: url(vid3.gif);
}

.saiyan.tier2::after {
  background-image: url(vid2.gif);
}

.username {
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Comfortaa';
  min-width: 256px;
  margin: 0 4px;
  position: center;
}

#full_subs .username,
#raids .username {
  flex: 1 1 auto;
}

#raids .amount {
  text-align: right;
}

#cheers .username {
  margin: 4px 12px;
}


.tier {
  font-size: .6em;
  font-weight: bold;
  font-family: 'Comfortaa';
}

.streak {
  display: flex;
  flex-basis: 100%;
  font-size: 1.1em;
  padding-right: 3px;
  padding-left: 3px;
  font-weight: bold;
  font-family: 'Comfortaa';
}
.streak.less_six {
  flex-basis: 100%;
  text-shadow:
     1px -1px 1px gray,
    -1px  1px 1px gray,
    -1px -1px 1px gray,
     1px  1px 1px gray;

}

.streak.less_twelve {
  flex-basis: 100%;
    text-shadow:
       1px -1px 1px gold,
      -1px  1px 1px gold,
      -1px -1px 1px gold,
       1px  1px 1px gold;
}

.streak.more_twelve {
  flex-basis: 100%;
  text-shadow:
     1px -1px 1px rgb(255, 115, 0),
    -1px  1px 1px rgb(255, 115, 0),
    -1px -1px 1px rgb(255, 115, 0),
     1px  1px 1px rgb(255, 115, 0);
}


.vert_container.less_twelve::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scale(1);
  background-image: url(less_twelve.gif);
  background-size: contain;
  background-position: 50% 50%;
  z-index: -1;
}

.vert_container.more_twelve::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scale(1);
  background-image: url(more_twelve.gif);
  background-size: contain;
  background-position: 50% 50%;
  z-index: -1;
}

.message {
  word-wrap: break-word;
  font-size: 22px;
  min-width: 40vw;
  text-justify: distribute;
}

.message.odd {
  color: white;
  text-shadow:
     1px -1px 1px black,
    -1px  1px 1px black,
    -1px -1px 1px black,
     1px  1px 1px black;
}

.message.even {
  color: white;
  text-shadow:
     1px -1px 1px var(--c-twitch),
    -1px  1px 1px var(--c-twitch),
    -1px -1px 1px var(--c-twitch),
     1px  1px 1px var(--c-twitch);
}

.list_title {
  margin: 50vh 0 1em 0;
  padding: .5em 0;
  font-size: 35px;
  color: white;
  width: 100%;
  text-align: center;
  background-color: var(--c-back);
  backdrop-filter: var(--f-backdrop);
}

.vert_container {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}

.list_item > .vert_container {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
}

.list_container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 22px;
  color: white;
  gap: 12px;
}

.list_item {
  position: relative;
  flex: 0 1 auto;
  display: flex;
  flex-flow: row nowrap;
  color: white;
  justify-content: center;
  align-items: center;
  justify-content: stretch;
  border-radius: 4px;
  backdrop-filter: var(--f-backdrop);
  padding: 8px;
}

.list_item:nth-child(odd) {
  background-color: var(--c-odd);
}

.list_item:nth-child(even) {
  background-color: var(--c-even);
}

p.list_no_break {
  padding: 1em 15vw;
  font-size: 25px;
  color: white;
  text-align: center;
  backdrop-filter: var(--f-backdrop);
}


span.comma_separated:not(:last-child)::after {
  content: ', ';
}

.credit_where_credit_is_due{
  margin: 50vh 0 1em 0;
  padding: .5em 0;
  font-size: 1.25px;
  color: white;
  width: 100%;
  text-align: center;
  backdrop-filter: var(--f-backdrop);
  border-radius: 4px;
}

.inline-icon {
  display: inline-block;
  height: 1.25em;
}

.cheer-icon {
  position: absolute;
  left: 0;
  transform: translate(-50%);
  height: 48px;
  width: 48px;
}

@keyframes wiggle {
  from {
    transform: translate(25%, -69%) rotate(33deg);
  }
  to {
    transform: translate(25%, -69%) rotate(45deg);
  }
}

.ranking > :first-child .amount::after {
  content: '👑';
  position: absolute;
  right: 0;
  font-size: 2em;
  top: 0;
  animation: wiggle .2s ease-in-out infinite alternate;
  transform: translate(25%, -69%) rotate(33deg);
}

#new_subs .username {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  text-align: center;
  min-height: 2.5em;
  justify-content: center;
}

.list_item.streak {
  padding: 0;
}

.streak-stats {
  display: flex;
  flex-direction: column;
  margin: 4px 8px;
  min-width: 4ch;
  justify-content: center;
}

.streak-stats > .stat {
  flex: 0 1 auto;
  text-align: center;
}

.streak-stats > .stat.current {
  position: relative;
  font-family: 'Source Code Pro';
  font-size: 1.25em;
  transform: translate(-15%, 10%);
}

.streak-stats > .stat.current::before {
  content: 'streak';
  position: absolute;
  font-size: .5em;
  left: 50%;
  bottom: top;
  transform: translate(-50%, -75%);
}

.streak-stats > .stat.top {
  position: relative;
  font-family: 'Source Code Pro';
  font-size: .85em;
  transform: translate(15%, -10%);
}

.streak-stats > .stat.top::after {
  content: 'total';
  position: absolute;
  font-size: .5em;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 75%); 
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  /* clip: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%); */
}

.scroll-content {
  display: contents;
  flex-direction: column;
  align-items: center;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fixed.background {
  z-index: -1;
}

.fixed.foreground {
  z-index: 99;
}

.clip {
  display: none;
}

.clip.visible {
  display: block
}

.clip.info {
  position: fixed;
  bottom: 0;
  color: white;
  padding: 8px 16px;
  z-index: 10;
}

.clip.info .title {
  font-size: 1.75em;
  margin: .75em 0;
  break-after: auto;
}

.clip.info.left {
  left: 0;
  text-align: left;
}

.clip.info.right {
  right: 0;
  text-align: right;
}

.clip > .info .username {
  font-size: 1.5em;
  font-family: 'Comfortaa';
}

.clip > video {
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar {
  width: 64px;
  height: 64px;
  clip-path: circle(50%);
}

.avatar:not(:last-child) {
  margin-right: 8px;
}

@keyframes wiggleNewBadge {
  from {
    transform: translate(-25%, -75%) rotate(-22.5deg);
  }
  to {
    transform: translate(-25%, -75%) rotate(-45deg);
  }
}

.new_badge {
  position: absolute;
  left: 0;
  color: var(--c-twitch);
  transform: translate(-25%, -75%) rotate(-45deg);
  animation: wiggleNewBadge .2s ease-in-out infinite alternate;
}

.gift_by_badge {
  position: absolute;
  left: 0;
  top: 100%;
  color: var(--c-twitch);
  transform: translate(-25%, -50%) rotate(22.5deg)
}

.duration.months {
  position: relative;
  font-size: 1.75em;
  font-family: 'Source Code Pro';
  margin: 0 8px;
  min-width: 3ch;
  text-align: center;
}

.duration.months::after {
  content: 'Months';
  position: absolute;
  font-size: 1rem;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.box-art {
  width: 196px;
  filter: drop-shadow(0 .25rem 0.5rem black);
}

.line {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}

.line > * {
  flex: 0 1 auto;
}

.line > .stack {
  display: flex;
  flex-flow: column nowrap;
}

.line > .stack > *{
  flex: 1 1 auto;
}